[Desktop Entry]
Version=1.0
Type=Application
Name=xrandr --output VGA1 --brightness 0.$1 (brightness.sh)
Comment=launcher
Exec=/mnt/sda2/scripts/scripts-port/brightness.sh
Icon=
Path=
Terminal=true
StartupNotify=true
