[Desktop Entry]
Version=1.0
Type=Application
Name=livetreamer from clb (t)
Comment=launcher
Exec=/mnt/sda2/scripts/scripts-port/t
Icon=
Path=
Terminal=true
StartupNotify=true
