[Desktop Entry]
Version=1.0
Type=Application
Name=youtube-watchclip (yo)
Comment=launcher
Exec=/mnt/sda2/scripts/scripts-port/yo
Icon=
Path=
Terminal=true
StartupNotify=true
